.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content:not(:focus-within) {
  background-color: #fdfdff;
  transition: background-color 0.01s;
}

.modal__content {
  position: relative;
  background-color: #fdfdfd;
  margin: auto;
  padding: 25px;
  padding-top: 10px;
  border: 1px solid black;
  min-height: 200px;
  max-width: 500px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: animatetop 0.75s forwards;
}

.header__title {
  font-size: calc(24px + (32 - 24) * ((100vw - 640px) / (1280 - 640)));
  line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
}

@keyframes animatetop {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

.close {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.close__button {
  width: 15px;
  height: 15px;
  position: relative;
  right: -15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
