.headerbar {
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 75px;

  /* margin-bottom: 40px; */
  padding: 40px;
  padding-bottom: 28px;

  background-color: #ffc259;
}

.headerbar a {
  padding: 10px;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: 700;
  color: black;
}

.headerbar a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.headerbar a:focus {
  outline: 1px solid black;
}

.headerbar a:visited {
  color: black;
}

.headerbar__title {
  text-transform: uppercase;
}
