.recorder {
  max-width: 400px;
  width: 100%;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 20px auto;
  padding: 10px;

  --flow-space: 2em;
  background: rgba(250, 250, 250, 1);
  border: 2px solid rgb(238, 238, 238);
  border-radius: 2px;
}

.recorder p {
  --flow-space: 0px;
}

.recorder__mic {
  width: 90px;
  height: 90px;

  border-radius: 50%;
  border: 3px solid black;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recorder__mic--recording {
  border: 3px solid #e53e3e;
}

.recording {
  color: #e53e3e;
}

.recorder__button {
  min-width: 125px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.recorder__button:hover {
  background: rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.recorder__button > * {
  margin-right: 10px;
}

.recorder__control {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.time {
  margin-top: 0px;
  font-size: 36px;
}

.audioPlayback {
  margin-top: 5px;
  border: 2px solid rgb(238, 238, 238);
  border-radius: 30px;
}
