.footer {
  height: 350px;
  width: 100%;
  background: #ffdca0;
  padding: 50px;
  padding-top: 40px;
  text-align: center;
  scroll-snap-align: end;
}

.footer__title {
  font-size: 20px;
  margin-bottom: 10px;
  opacity: 0.85;
}

.footer .scrolltop {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__icons * {
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.85;
  transition: 0.3s;
}

.footer__icons *:hover,
.footer__icons *:focus {
  opacity: 1;
  cursor: pointer;
}

.contactUs .text a {
  color: #4a5568;
}

@media (min-width: 640px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__content {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .followUs {
    height: 100%;
    place-self: center;
  }
  .contactUs {
    place-self: center;
    --flow-space: 0em;
    grid-column: 3;
  }
  .footer .scrolltop {
    place-self: center;
    grid-column: 2;
  }

  .footer__content {
  }
}
